<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="packageproviders" name="packageproviders" schema="schema/packageproviders.exsd"/>
	<extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="com.buglabs.osgi.concierge.launch.ConciergeLaunchConfiguration"
            id="com.buglabs.osgi.concierge.launch.ConciergeLaunchConfigurationTabGroup"
            modes="run, debug"
            name="Concierge OSGi Framework"
            sourceLocatorId="com.buglabs.osgi.concierge.runtime.sourcelocators.ConciergeSourceLocator"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer"/>
   </extension>
   
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="com.buglabs.osgi.concierge.jdt.ConciergeClasspathContainerInitializer"
            id="com.buglabs.osgi.concierge.jdt.ConciergeClasspathContainerInitializer"/>
      <classpathContainerInitializer
            class="com.buglabs.osgi.concierge.jdt.OSGiBundleClassPathContainerInitializer"
            id="com.buglabs.osgi.concierge.jdt.OSGiBundleClassPathContainerInitializer"/>
   </extension>
   <extension
         id="com.buglabs.osgi.concierge.natures.ConciergeProjectNature"
         name="Concierge Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="com.buglabs.osgi.concierge.natures.ConciergeProjectNature"/>
      </runtime>
      <builder id="com.buglabs.osgi.concierge.core.ManifestConsistencyChecker"/>
   </extension>
   
   <!-- manifest builder -->
   
   <extension id="ManifestConsistencyChecker" name="Manifest Consistency Checker"
   		 point="org.eclipse.core.resources.builders">
   		<builder hasNature="true">
   			<run class="com.buglabs.osgi.concierge.core.builder.ManifestConsistencyChecker"/>
   		</builder>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            class="com.buglabs.osgi.concierge.runtime.sourcelocators.ConciergeSourceLocator"
            id="com.buglabs.osgi.concierge.runtime.sourcelocators.ConciergeSourceLocator"
            name="Concierge Source Locator"/>
   </extension>
</plugin>
