#Tue Jun 26 16:26:29 EDT 2007
autotestsuite.class.exclusions=.*All(Tests|PDE_Tests|_Tests|PDETests).*
verboseAnt=-verbose
autotestsuite.trace=true
pluginbuilder.features=com.buglabs.osgi.concierge.feature
autotestsuite.class.inclusions=.*
pluginbuilder.is.svn=true
pluginbuilder.is.runtests=false
pluginbuilder.svn.url=https\://concierge.svn.sourceforge.net/svnroot/concierge/trunk/cte
autotestsuite.plugin.inclusions=.*(test|tests)$
pluginbuilder.svn.user=guest
pluginbuilder.is.cvs=false
pluginbuilder.is.copy=false
pluginbuilder.is.rcpbuild=false
